<div class="ticket-gist-container" data-priority="<%= ticket['priority']%>">

  <div>

    <div title="Ticket ID">
      <span><%= fa_icon 'ticket' %> <%= ticket['id'] %></span>
    </div>

    <% if ticket['status'] %>
      <div class="ticket-status status-<%= ticket['status'] %>" title="Status">
        <%= ticket['status'].capitalize %>
      </div>
    <% end %>

    <% if ticket['priority'] %>
      <div class="ticket-priority priority-<%= ticket['priority'] %>" title="Priority">
        <%= ticket['priority'].capitalize %>
      </div>
    <% end %>
  </div>

  <div>
    <% if ticket['subject'] %>
      <div class="ticket-subject" title="Subject">
        <%= ticket['subject'] %>
      </div>
    <% end %>
  </div>

  <div>
    <div class="ticket-requester" title="Requester">
      <span><%= fa_icon  'user' %> <%= ticket['requester_id'] %></span>
    </div>
  </div>

  <div>
    <% if ticket['created_at'] %>
      <div title="Created">
        <span><%= fa_icon 'calendar' %> <%= ticket['created_at'].to_date %></span>
      </div>
    <% end %>
  </div>

</div>
