<style>
ul {
  list-style: none;
}

li {
  padding: 1em;
  border: solid 1px black;
  margin: 1.5em;
}

.error-message {
  padding: 1em;
  background-color: lightblue;
  border-radius: 10px;
  margin: 2em;
}

p {
  font-size: 1em;
  font-weight: normal;
}

</style>

<h1>Zendesk Service Tickets</h1>

<% if @error %>
  <div class="error-message">
    <h3>Server Error</h3>
    <p>Code: <%= @error[:code] %></p>
    <% @error[:message].each do |title, msg| %>
      <p>
        <span><%= title.capitalize %>: </span>
        <span><%= msg.capitalize %></span>
      </p>
    <% end %>
  </div>
<% end %>


<ul>
  <% @tickets.each do |ticket| %>
    <li>
      <h3><%= ticket['subject'] %></h3>
      <p><%= ticket['description'] %></p>
    </li>
  <% end %>
</ul>
