<style>
ul {
  list-style: none;
}

li {
  padding: 1em;
  border: solid 1px black;
  margin: 1.5em;
}

.flash {
  padding: 1em;
  border-radius: 10px;
  margin: 2em;
  text-align: center;
}

.flash-error {
  background-color: tomato;
}

.flash-notice {
  background-color: lightblue;
}

p {
  font-size: 1em;
  font-weight: normal;
}

</style>

<%= render 'paginate', prev_page: @prev, next_page: @next %>

<ul>
  <% @tickets.each do |ticket| %>
    <li>
      <h3><%= ticket['id'] %> <%= ticket['subject'] %></h3>
      <p><%= ticket['description'] %></p>
    </li>
  <% end %>
</ul>

<%= render 'paginate', prev_page: @prev, next_page: @next %>
