<% if @ticket %>

  <div class="ticket-container">
    <div class="ticket-meta meta-top">

      <div title="Ticket ID">
        <span><%= fa_icon 'ticket' %> <%= @ticket['id'] %></span>
      </div>

      <% if @ticket['status'] %>
        <div class="ticket-status status-<%= @ticket['status'] %>" title="Status">
          <%= @ticket['status'].capitalize %>
        </div>
      <% end %>

      <% if @ticket['priority'] %>
        <div class="ticket-priority priority-<%= @ticket['priority'] %>" title="Priority">
          <%= @ticket['priority'].capitalize %>
        </div>
      <% end %>

        <div class="ticket-requester" title="Requester">
          <span><%= fa_icon  'user' %> <a href="#"><%= @ticket['requester_id'] %></a></span>
        </div>

    </div>

    <div>

      <% if @ticket['subject'] %>
        <div class="ticket-subject" title="Subject">
          <h3><%= @ticket['subject'] %></h3>
        </div>
      <% end %>

    </div>

    <div class="ticket-meta meta-bottom">

      <% if @ticket['created_at'] %>
        <div title="Created">
          <span><%= fa_icon 'calendar' %> <%= @ticket['created_at'].to_date %></span>
        </div>
      <% end %>

      <% if @ticket['updated_at'] %>
        <div title="Last updated">
          <span><%= fa_icon 'edit' %> <%= @ticket['updated_at'].to_date %></span>
        </div>
      <% end %>

      <% if @ticket['tags'] && !@ticket['tags'].empty? %>
      <div title="Tags">
        <span><%= fa_icon 'tags' %> <%= @ticket['tags'].join(', ') %></span>
      </div>
      <% end %>

    </div>

    <div>

      <% if @ticket['description'] %>
        <div class="ticket-description">
          <%= @ticket['description'] %>
        </div>
      <% end %>

    </div>
  </div>
<% end %>
