<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :title %> | Zendesk Ticket Viewer</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'webpack-bundle' %>
  </head>

  <body>
    <div class="container">
      <h1><%= yield :heading %></h1>

      <% flash.each do |key, value| %>
        <div class="flash flash-<%= key %>">
          <%= value %>
        </div>
      <% end %>

      <%= yield %>
    </div> <!-- /container -->
  </body>
</html>
